GC_REGION=us-central1
GC_CLOUD_RUN_SERVICE_NAME=aobou-chat-ui
VITE_AIC_ISSUER=https://auth.pingone.com/ENV_ID/as
VITE_CLIENT_ID=
VITE_REDIRECT_URI=https://obo-chat-ui-PROJECT_NUMBER.REGION.run.app/
VITE_SCOPES=openid profile email stripe_mcp:invoke
VITE_AGENT_BRIDGE_URL=https://obo-agent-bridge-PROJECT_NUMBER.REGION.run.app
