GC_REGION=us-central1
GC_CLOUD_RUN_SERVICE_NAME=ac-agent-gateway-extension-service
IDP_ISSUER=https://auth.pingone.<your-region>/<your-env>/as
# AC Agent Gateway Extension Application in PingOne
EXCHANGE_CLIENT_ID=
EXCHANGE_CLIENT_SECRET=
# AC PingOne Authorize Worker App in PingOne
AUTHZ_CLIENT_ID=
AUTHZ_CLIENT_SECRET=
AUTHZ_DECISION_ENDPOINT=https://api.pingone.<your-region>/v1/environments/<your-env>/decisionEndpoints/<your-endpoint-id>
# Required Audience & Scopes for this resource (Inbound token)
IDP_REQUIRED_AUDIENCE=ac-google-cloud-agent-gateway
IDP_REQUIRED_SCOPE_AGENT=order-status:invoke
IDP_REQUIRED_SCOPE_TOOL=order:read
# Agent engine ID and scope for downstream order status agent (outbound token)
AGENT_ENGINE_ID=
AGENT_SCOPE=order-status:invoke
AGENT_AUDIENCE=order-status-agent
# URL and scope for the downstream order status mcp server (outbound token)
TOOL_URL=https://ac-order-status-mcp-server-<your-project-number>.<your-deployment-region>.run.app
TOOL_SCOPE=order:read
TOOL_AUDIENCE=order-status-mcp-server
