GC_REGION=us-central1
GC_CLOUD_RUN_SERVICE_NAME=aobou-stripe-mcp-server
STRIPE_SECRET_KEY=
IDP_ISSUER=https://auth.pingone.REGION/ENV_ID/as
IDP_REQUIRED_AUDIENCE=stripe-mcp-server
IDP_REQUIRED_SCOPE=stripe_mcp:invoke
