GC_REGION=us-central1
GC_CLOUD_RUN_SERVICE_NAME=baatt-agent-gateway-extension-service
IDP_TOKEN_ENDPOINT=https://auth.pingone.<your-region>/<your-env>/as/token
# BAATT Agent Gateway Extension Application in PingOne
EXCHANGE_CLIENT_ID=
EXCHANGE_CLIENT_SECRET=
# BAATT PingOne Authorize Worker App in PingOne
AUTHZ_CLIENT_ID=
AUTHZ_CLIENT_SECRET=
AUTHZ_DECISION_ENDPOINT=https://api.pingone.<your-region>/v1/environments/<your-env>/decisionEndpoints/<your-endpoint-id>
# Required Audience & Scope for this resource (Inbound token)
IDP_REQUIRED_AUDIENCE=google-cloud-agent-gateway
IDP_REQUIRED_SCOPE=supply-chain:restock
# URL and scope for the downstream tool (outbound token)
TOOL_URL=https://baatt-supply-chain-mcp-tool-<your-project-number>.<your-deployment-region>.run.app
TOOL_SCOPE=supply-chain:restock
