GC_REGION=us-central1
GC_CLOUD_RUN_SERVICE_NAME=baatt-agent-gateway-extension-service
IDP_TOKEN_ENDPOINT=https://auth.pingone.com/ENV_ID/as/token
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=
IDP_SCOPE=supply-chain:restock
IDP_REQUIRED_AUDIENCE=google-cloud-agent-gateway
TOOL_URL=https://baatt-supply-chain-mcp-tool-PROJECT_NUMBER.REGION.run.app
AUTHZ_DECISION_ENDPOINT=https://api.pingone.ca/v1/environments/ENV_ID/decisionEndpoints/ENDPOINT_ID
AUTHZ_CLIENT_ID=
AUTHZ_CLIENT_SECRET=
