GC_REGION=us-central1
GC_GATEWAY_NAME=ac-agent-gateway
GC_EXT_SVC_NAME=ac-agent-gateway-extension-service
GC_AUTHZ_EXTENSION=ac-agent-gateway-authz-extension
GC_AUTHZ_POLICY=ac-agent-gateway-authz-policy
